<!DOCTYPE html>
<html>
  <head>
    <title>AoP</title>
    <style>
      html {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
      html,body,div {
        margin: 0;
        background-color: black;
        z-index: 0;
        font-family: Verdana;
        color: rgb(255,255,255);
      }
      html,body {
        height: 100%;
      }
      img,div,span {
        display: block;
        position: absolute;
      }
      #left-pane {
        left: 0;
        top: 0;
        width: 30%;
        height: 100%;
      }
      #bottom-pane {
        left: 30%;
        top: 75%;
        width: 70%;
        height: 25%;
      }
      img {
        z-index: 1;
      }

      .focused {
        transform: scale(1.1);
      }
    </style>
    <script src="/hls.min.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/navigation.js"></script>
    <script src="/bootstrap.js"></script>
    <script src="/hls-player.js"></script>
    <script>

let sepe = null

async function findSepe() {
  try {
    const response = await fetch(
      "http://localhost:44642/tv3/sensory-effect-renderers"
    );

    console.log("Response:", response);

    if (!response.ok) {
      console.log(response)
      return null;
    }

    const data = await response.json();
    if (!data || !data.renderers || data.renderers.length === 0) {
      return null;
    }

    sepe = data.renderers[0];
    return data.renderers[0];
  } catch (error) {
    console.error("Error fetching SEPE:", error);
    return null;
  }
}

async function playLightEffect(sepe, action, color) {
  const body = {
    effectType: "LightType",
    action: action,
    properties: [{ name: "color", value: color }],
  };

  const response = await fetch(
    "http://localhost:44642/tv3/sensory-effect-renderers/" + sepe.id,
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(body),
    }
  );

  if(!response.ok) {
  console.warn(response)
  }
}

async function playScentEffect(sepe, action, intensity) {
  const body = {
    effectType: "ScentType",
    action: action,
    properties: [{ name: "intensity", value: intensity }],
  };

  const response = await fetch(
    "http://localhost:44642/tv3/sensory-effect-renderers/" + sepe.id,
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(body),
    }
  );

  if(!response.ok) {
    console.warn(response);
  }
}

async function turnOffEffects() {
  const sepe = findSepe();
  if(sepe){
    playLightEffect(sepe, "stop", [0,0,0]);
    playScentEffect(sepe, "stop", 0)
  }
}

    </script>
  </head>
  <body>
    <div id="left-pane">
      <div style="z-index: 2; left: 20%; top: 3%; width: 60%; height: 20%;">
        <%- logo %>
      </div>
      <span style="z-index: 2; font-weight: bold; font-size: 50px; left:50%; top:28%; transform: translate(-50%, -50%);"><%- name %></span>

      <%- details %>
      <img id="back" style="left: 10%; top: 87%; width: 70%; height: 9%;" <%- backMove %> select="back" src="/media/back.png"/>
    </div>
    <div id="user" style="left: 85%; top: 3.70%; width: 16,98%; height: 9.26%; z-index: 4; position: absolute;
                          color: rgb(183,183,183); background-color: transparent; text-align: center; font-family: Verdana; font-size: 18px;"
         <%- usermove %> select="openProfile"/>
        
      <span id="user_name" style="margin-top: -60px; display: inline-block; vertical-align: middle;"> profile </span>
      <img id="user_img" style="height: 60px; margin: auto; position: relative; padding-left: 20px; display: inline;"/>
    </div>
    <div id="bottom-pane">
      <img id="info" style="left: 0; top: 0; width: 95%; height: 55%;" src="<%= info %>"/>
    </div>

    <video id="tvvideo" class="focused"
           style="z-index: 3; left: 32%; top: 3%; width: 67.5%; height: 67.5%; position: absolute;"
           src="<%= mainVideoURL %>"
           <%- mainVideoMove %> select="fullscreen"
           autoplay muted playsinline></video>

    <script>
      window.addEventListener('message', receiveFrameMessage);
      postFrameMessage({ type: 'loaded' });

      <%- script %>      
    </script>
  </body>
</html>