<div id="<%= id %>" style="position: absolute; left: <%= left %>; top: <%= top %>; width: 13%; height: 13%; background-color: white; padding: 7px; border-radius: 8px;" <%- focus %>>
    <span style="font-family: Verdana; font-size: 14px;"><%= name %></span>
  
    <div style="position: absolute; left: 50%; top: 58%; width: 60%; height: 60%; transform: translate(-50%, -50%); background-color: white;">
      <%- logo %>
    </div>
  </div>