<div  id="<%= id %>"
      style="z-index: 2; position: absolute; top: 30%; width: <%= width %>; height: 250px;
      color: rgb(183,183,183);
      text-align: center; font-family: Verdana; font-size: 28px; left: <%= left %>;"
      <%- focus %>>
  
  <img src="/<%= img %>" style="margin: auto; position: relative; width: 140px; padding-bottom: 20px;"/>
  <%- name %>
</div>